<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center">album_id</th>
            <th scope="col" class="text-center">name</th>
            <th scope="col" class="text-center">recording_year</th>
            <th scope="col" class="text-center">release_year</th>
            <th scope="col" class="text-center">genres_genre_id</th>
            <th scope="col" class="text-center">bandmember_id</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-center"></th>
            <form class="px-4 py-3" action="/albums" method="POST">
                <td class="text-center">
                    <input type="text" class="form-control form-control-lg form-control-block" placeholder="album name"
                        name="input-albName">
                </td>
                <td class="text-center">
                    <input type="text" class="form-control form-control-lg form-control-block"
                        placeholder="recording year" name="input-albRec">
                </td>
                <td class="text-center">
                    <input type="text" class="form-control form-control-lg form-control-block"
                        placeholder="release year" name="input-albRel">
                </td>
                <td class="text-center">
                    <input type="text" class="form-control form-control-lg form-control-block" placeholder="genre name"
                        name="input-albGen">
                </td>
                <td class="text-center">
                    <input type="text" class="form-control form-control-sm form-control-block" placeholder="first name"
                        name="input-albBlFn">
                    <input type="text" class="form-control form-control-sm form-control-block" placeholder="last name"
                        name="input-albBlLn">
                </td>
                <td class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-plus-lg"></i> Insert
                        Album</button>
                </td>
            </form>
        </tr>
        {{#each data}}
        <tr>
            <th scope="row" class="text-center">{{this.album_id}}</th>
            <td class="text-center">{{this.name}}</td>
            <td class="text-center">{{this.recording_year}}</td>
            <td class="text-center">{{this.release_year}}</td>
            <td class="text-center">{{this.genres_genre_id}}</td>
            <td class="text-center">{{this.bandmember_id}}</td>
            <td class="text-center">
                <a href="#" type="button" class="btn btn-warning btn-small"> <i class="bi bi-pencil-square"></i>
                    Edit</a>
                <a href="#" type="button" class="btn btn-danger btn-small"> <i class="bi bi-trash3-fill"></i> Delete</a>
                <a href="#" type="button" class="btn btn-info btn-small"> <i class="bi bi-eyeglasses"></i> View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>