<div class="col-8 pb-2">
    {{!-- <div class=”container”>
        <div class=”row”>
            <div class=”col-xs-6 col-md-4”>
                <form>
                    <div class="mb-3">
                        <label for="newIdCollections" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="newNameCollections" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div> --}}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Insert Collection
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <form class="px-4 py-3">
                <li class="menu-item">
                    <input type="text" class="form-control form-control-lg" placeholder="new collection name">
                </li>
                {{!-- <br> --}}
                <li class="menu-item">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </li>
            </form>
        </ul>
    </div>
    <br>
    <div>
        <select>
            {{#each data}}
            <option value="{{@key}}" {{{isSelected ./setCollectionId @key}}}>
                {{this.collection_id}}
            </option>
            {{/each}}
        </select>
        <select>
            {{#each data}}
            <option value="{{@key}}" {{{isSelected ./setCollectionName @key}}}>
                {{this.name}}
            </option>
            {{/each}}
        </select>
    </div>
</div>
<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center">id</th>
            <th scope="col" class="text-center">name</th>
            <th scope="col" class="text-center">
                options
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <th scope="row" class="text-center">{{this.collection_id}}</th>
            <td class="text-center">{{this.name}}</td>
            <td class="text-center">
                <a href="#" type="button" class="btn btn-warning btn-small"> <i class="bi bi-pencil-square"></i>
                    Edit</a>
                <a href="#" type="button" class="btn btn-danger btn-small"> <i class="bi bi-trash3-fill"></i> Delete</a>
                <a href="#" type="button" class="btn btn-info btn-small"> <i class="bi bi-eyeglasses"></i> View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>