{{! home.hbs is associated with Collections Router, Controller and Helper files}}
{{! Below form event allows for users to input an insert into database. Form id is used to refer to event handler in
relvant helper file.}}
<div class="container-fluid bg-dark text-white sticky-top" id="insert-bar">
    <form id="add-collection" class="px-4 py-3">
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control form-control-lg form-control-block" placeholder="collection name"
                    name="input-colName" id="input-colName">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-plus-lg"></i> Insert
                    Collection</button>
            </div>
        </div>
    </form>
</div>

{{! Table is receving data from the database to populate the rows. Table id is refered to in relevent helper file
to build new rows for inserts and to find the relevant row for update and delete }}
<table class="table table-dark table-striped table-bordered" id="collection-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Action</th>
        </tr>
    </thead>

    {{! tbody id is referenced in main helper. It is used to implement the search present in the navbar}}
    {{! tr data-value is essential for indexing rows in helper functions}}
    <tbody id="myTable">
        {{#each data}}
        <tr data-value={{this.collection_id}}>
            <td>{{this.collection_id}}</td>
            <td>{{this.name}}</td>
            <td>
                {{! class name for Edit and/or View is used to refer to the modal in helper function event listener.
                Passing data using data-id is essential for modal to prepopulate}}
                {{! delete uses a onclick function present in helper file}}
                <button class="open-editCol btn btn-warning btn-small" data-toggle="modal"
                    data-id='{"id":{{this.collection_id}},"name":"{{this.name}}"}' title="Edit this item"
                    href="#renderEditCol" id="editele"><i class="bi bi-pencil-square"></i>
                    Edit</button>
                <button id="deleteColBtn" onclick="deleteCollection({{this.collection_id}})"
                    class="btn btn-danger btn-small" data-bs-toggle="popover" data-bs-trigger="focus"><i
                        class="bi bi-trash3-fill"></i>Delete</button>
                <button class="open-viewCol btn btn-info btn-small" data-toggle="modal" data-target="#myModal"
                    data-id='{"id":{{this.collection_id}},"name":"{{this.name}}"}' title="View this item"
                    href="#renderViewCol" id="viewele">
                    <i class="bi bi-eyeglasses"></i> View</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! Below search bar calls the view function in collectionsCtrl file upon submit}}
<div class="container-fluid bg-dark text-white sticky-bottom" id="insert-bar">
    <form id="search-collection" class="px-4 py-3">
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control form-control-lg form-control-block"
                    placeholder="search collection name" name="searchName" id="searchName">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-lg"></i> Search
                    Collections</button>
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-lg"></i> View All
                    Collections</button>
            </div>
        </div>
    </form>
</div>



{{! Edit Modal }}
<div class="modal fade" id="renderEditCol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Collections</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-collection" class="px-4 py-3">
                <div class="modal-body">
                    id
                    <input type="text" class="form-control form-control-lg" name="coleditId" id="coleditId" value=""
                        style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    name
                    <input type="text" class="form-control form-control-lg" name="coleditName" id="coleditName"
                        value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="modalSubmit" type="submit" class="btn btn-primary">Save
                        changes</button>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>


{{! View Modal}}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pmodal"></p>
            </div>
        </div>
    </div>
</div>