<div class="container-fluid bg-dark text-white sticky-top" id="insert-bar">
    <form id="add-listener" class="px-4 py-3">
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control form-control-lg form-control-block" placeholder="listener name"
                    name="input-listName" id="input-listName">
            </div>
            <div class="col-sm">
                <input type="text" class="form-control form-control-lg form-control-block" placeholder="listener email"
                    name="input-listEmail" id="input-listEmail">
            </div>
            <div class="col-sm">
                {{!-- <input type="text" class="form-control form-control-lg form-control-block"
                    placeholder="collection name" name="input-listColName" id="input-listColName"> --}}

                <select class="selectpicker" data-live-search="true" data-size="8" name="input-listColName"
                    id="input-listColName">
                    <option value="">Select Collection</option>
                    {{#each collections}}
                    <option value="{{this.collection_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <div>
                    <input class="form-check-input" type="checkbox" value="newcollection" id="collection-check">
                    <label id='checkLabel' class="form-check-label" for="collection-check" checked>
                        create new collection
                    </label>
                </div>
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-plus-lg"></i> Insert
                    Listener</button>
            </div>
        </div>
    </form>
</div>

{{!-- <div class="container-sm bg-dark text-white sticky-top" id="search-bar">
    <div class="row">
        <div class="col-sm">
            <div class="input-group top-50 start-50 translate-middle">
                <span class="p-2">
                    <i class="bi bi-search" style='font-size:26px;'></i>
                </span>
                <input class="form-control form-control-lg form-control-block w-25" id="tableSearch" type="text"
                    placeholder="Search Listeners">
            </div>
        </div>
    </div>
</div> --}}

{{!-- <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Type something to search list items">
--}}

<table class="table table-dark table-striped table-bordered" id="listener-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        {{#each data}}
        <tr data-value={{this.listeners_id}}>
            <td>{{this.listeners_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.collections_collection_id}}</td>
            <td>{{this.collection_name}}</td>
            <td>
                <button class="open-editList btn btn-warning btn-small" data-toggle="modal"
                    data-id='{"id":{{this.listeners_id}},"name":"{{this.name}}", "email":"{{this.email}}","collection_id":"{{this.collections_collection_id}}"}'
                    title="Edit this item" href="#renderEditList"><i class="bi bi-pencil-square"></i> Edit</button>
                <button onclick="deleteListener({{this.listeners_id}})" class="btn btn-danger btn-small"><i
                        class="bi bi-trash3-fill"></i>Delete</button>
                <button class="btn btn-info btn-small"> <i class="bi bi-eyeglasses"></i> View</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



<!-- Edit Modal -->
<div class="modal fade" id="renderEditList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Listeners</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-listener" class="px-4 py-3">
                <div class="modal-body">
                    id
                    <input type="text" class="form-control form-control-lg" name="listeditId" id="listeditId" value=""
                        style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    name
                    <input type="text" class="form-control form-control-lg" name="listeditName" id="listeditName"
                        value="" />
                </div>
                <div class="modal-body">
                    email
                    <input type="text" class="form-control form-control-lg" name="listediEmail" id="listediEmail"
                        value="" />
                </div>
                {{!-- <div class="modal-body">
                    collection name
                    <input type="text" class="form-control form-control-lg" name="listeditColName" id="listeditColName"
                        value="" />
                </div> --}}
                <div class="modal-body">
                    <select class="selectpicker" data-live-search="true" data-size="8" name="modalSelectCol"
                        id="modalSelectCol">
                        <option value="">Select Collection</option>
                        {{#each collections}}
                        <option value="{{this.collection_id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>