<div>
    <form id="add-musician" class="px-4 py-3">
        <input type="text" class="form-control form-control-lg form-control-block" placeholder="first name"
            name="input-musFn" id="input-musFn">
        <input type="text" class="form-control form-control-lg form-control-block" placeholder="last name"
            name="input-musLn" id="input-musLn">
        <input type="text" class="form-control form-control-lg form-control-block" placeholder="instrument"
            name="input-musInst" id="input-musInst">
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-plus-lg"></i> Insert
            Musician</button>
    </form>
</div>


<table class="table table-dark table-striped table-bordered" id="musician-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.musician_id}}>
            <td>{{this.musician_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.instrument}}</td>
            <td>
                <button class="open-editMusc btn btn-warning btn-small" data-toggle="modal"
                    data-id='{"id":{{this.musician_id}},"first_name":"{{this.first_name}}", "last_name":"{{this.last_name}}","instrument":"{{this.instrument}}"}'
                    title="Edit this item" href="#renderEditMusc"><i class="bi bi-pencil-square"></i> Edit</button>
                <button onclick="deleteMusician({{this.musician_id}})" class="btn btn-danger btn-small"><i
                        class="bi bi-trash3-fill"></i>Delete</button>
                <button class="btn btn-info btn-small"> <i class="bi bi-eyeglasses"></i> View</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



<!-- Edit Modal -->
<div class="modal fade" id="renderEditMusc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Musicians</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-musician" class="px-4 py-3">
                <div class="modal-body">
                    id
                    <input type="text" class="form-control form-control-lg" name="musceditId" id="musceditId" value=""
                        style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    first name
                    <input type="text" class="form-control form-control-lg" name="musceditFn" id="musceditFn"
                        value="" />
                </div>
                <div class="modal-body">
                    last name
                    <input type="text" class="form-control form-control-lg" name="musceditLn" id="musceditLn"
                        value="" />
                </div>
                <div class="modal-body">
                    instrument
                    <input type="text" class="form-control form-control-lg" name="musceditInst" id="musceditInst"
                        value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>