{{! Below form event allows for users to input an insert into database. Form id is used to refer to event handler in
relvant helper file.}}
{{! Bootstraps Selectpicker is using the the initial view query in the controller file to attain data for the dropdown
list}}
<div class="container-fluid bg-dark text-white sticky-top" id="insert-bar">
    <form id="add-perfrating" class="px-4 py-3">
        <div class="row">
            <div class="col-sm">
                <select class="selectpicker" data-live-search="true" data-size="8" name="input-perfrateColName"
                    id="input-perfrateColName">
                    <option value="">Select Collection</option>
                    {{#each collections}}
                    <option value="{{this.collection_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-sm">
                <select class="selectpicker" data-live-search="true" data-size="8" name="input-perfrateAlbName"
                    id="input-perfrateAlbName">
                    <option value="">Select Album from Performances</option>
                    {{#each albums}}
                    <option value="{{this.albId}}">{{this.albName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-sm">
                <input type="number" class="form-control form-control-lg form-control-block" min=1 max=5 step="1"
                    placeholder="rating(1-5)" name="input-perfrateRating" id="input-perfrateRating">
            </div>
            <div class="col-sm">
                <button id="insert-perfRatingBtn" type="submit" class="btn btn-primary btn-lg btn-block"
                    data-bs-toggle="popover" data-bs-trigger="focus"><i class="bi bi-plus-lg"></i> Insert
                    Performance Rating</button>
            </div>
        </div>
    </form>
</div>


{{! Table is receving data from the database to populate the rows. Table id is refered to in relevent helper file
to build new rows for inserts and to find the relevant row for update and delete }}

<table class="table table-dark table-striped table-bordered" id="perfrating-table">
    <thead>
        <tr>
            <th>performance_rating_id</th>
            <th>collections_collection_id</th>
            <th>Collections(name)</th>
            <th>performances_albums_album_id</th>
            <th>Albums(name)</th>
            <th><i class="bi bi-star" style="color: gold"></i> rating</th>
            <th>Action</th>
        </tr>
    </thead>
    {{! tbody id is referenced in main helper. It is used to implement the search present in the navbar}}
    {{! tr data-value is essential for indexing rows in helper functions}}

    <tbody id="myTable">
        {{#each data}}
        <tr data-value={{this.performance_rating_id}}>
            <td>{{this.performance_rating_id}}</td>
            <td>{{this.collections_collection_id}}</td>
            <td>{{this.ColName}}</td>
            <td>{{this.performances_albums_album_id}}</td>
            <td>{{this.AlbName}}</td>
            <td>{{this.rating}}</td>
            <td>
                {{! class name for Edit and/or View is used to refer to the modal in helper function event listener.
                Passing data using data-id is essential for modal to prepopulate}}
                {{! delete uses a onclick function present in helper file}}
                <button class="open-editPerfRating btn btn-warning btn-small" data-toggle="modal"
                    data-id='{"id":{{this.performance_rating_id}},"collections_collection_id":"{{this.collections_collection_id}}", "ColName":"{{this.ColName}}","performances_albums_album_id":"{{this.performances_albums_album_id}}", "AlbName":"{{this.AlbName}}", "rating":"{{this.rating}}"}'
                    title="Edit this item" href="#renderEditPerfRating"><i class="bi bi-pencil-square"></i>
                    Edit</button>
                <button onclick="deletePerfRating({{this.performance_rating_id}})" class="btn btn-danger btn-small"><i
                        class="bi bi-trash3-fill"></i>Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{! Edit Modal }}
<div class="modal fade" id="renderEditPerfRating" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Performance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-perfrating" class="px-4 py-3">
                <div class="modal-body">
                    id
                    <input type="text" class="form-control form-control-lg" name="perfrateditId" id="perfrateditId"
                        value="" style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    collection id
                    <input type="text" class="form-control form-control-lg" name="perfrateditColId"
                        id="perfrateditColId" value="" style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    collection name
                    <input type="text" class="form-control form-control-lg" name="perfrateditColName"
                        id="perfrateditColName" value="" />
                </div>
                <div class="modal-body">
                    performances_albums_album_id
                    <input type="text" class="form-control form-control-lg" name="perfrateditAlbId"
                        id="perfrateditAlbId" value="" style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    album name
                    <input type="text" class="form-control form-control-lg" name="perfrateditAlbName"
                        id="perfrateditAlbName" value="" />
                </div>
                <div class="modal-body">
                    rating
                    <input type="text" class="form-control form-control-lg" name="perfratRating" id="perfratRating"
                        value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>